<!DOCTYPE html>
<html lang="en" style="background-color: rgba(0, 0, 0, 0); width: 100%; height: 100%">
  <head>
    <meta charset="UTF-8" />
    <title>Growtopia Player Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/images/growtopia.ico"
      type="image/x-icon"
    />
    <link
      media="all"
      rel="stylesheet"
      href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/css/faq-main.css"
    />
    <style>
      body {
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .form-control {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .grow-button {
        padding: 10px;
        width: 100%;
        font-weight: bold;
      }
      .error-box {
        color: red;
        font-weight: bold;
        margin-bottom: 10px;
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="modal-content" style="max-width: 400px; width: 100%">
      <div class="modal-body">
        <div class="content">
          <section class="common-box">
            <div class="container">
              <div class="section-title center-align">
                <h2>Log in with your GrowID</h2>
              </div>
              <div class="row div-content-center">
                <div class="col-md-12 col-sm-12">
                  <form
                    method="POST"
                    action="/player/growid/login/validate"
                    accept-charset="UTF-8"
                    id="loginForm"
                    autocomplete="off"
                  >
                    <input name="type" value="log" type="hidden" />
                    <input name="_token" value="<%= JSON.stringify(data) %>" type="hidden" />
                    <div id="errorDiv" class="error-box"><a id="errorMessage"></a></div>
                    <div class="form-group">
                      <input
                        id="loginGrowId"
                        class="form-control grow-text"
                        placeholder="Your GrowID Name *"
                        name="growId"
                        type="text"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        id="loginPassword"
                        class="form-control grow-text"
                        placeholder="Your GrowID Password *"
                        name="password"
                        type="password"
                      />
                      <button
                        type="button"
                        id="toggleLogPassword"
                        style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%)"
                      >
                        👁️
                      </button>
                    </div>
                    <div class="form-group text-center">
                      <input
                        id="loginButton"
                        class="btn btn-lg btn-primary grow-button"
                        type="submit"
                        value="Log in"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        if (localStorage.getItem('growId')) {
          document.getElementById('loginGrowId').value = localStorage.getItem('growId');
        }

        document.getElementById('loginButton').addEventListener('click', function (event) {
          event.preventDefault();

          const uName = document.getElementById('loginGrowId').value;
          const uPass = document.getElementById('loginPassword').value;

          if (!uName || !uPass) {
            document.getElementById('errorDiv').style.display = 'block';
            document.getElementById('errorMessage').textContent = 'Username or Password is empty';
            return;
          } else if (uName.length < 4 || uPass.length < 4) {
            document.getElementById('errorDiv').style.display = 'block';
            document.getElementById('errorMessage').textContent =
              'Username or Password must be at least 4 characters long';
            return;
          } else {
            document.getElementById('loginForm').submit();
            localStorage.setItem('growId', uName);
          }
        });

        document.getElementById('toggleLogPassword').addEventListener('click', function () {
          const passField = document.getElementById('loginPassword');
          if (passField.type === 'password') {
            passField.type = 'text';
            this.textContent = '🙈';
          } else {
            passField.type = 'password';
            this.textContent = '👁️';
          }
        });
      });
    </script>
  </body>
</html>
