<!DOCTYPE html>
<html lang="en" style="background-color: rgba(0, 0, 0, 0); width: 100%; height: 100%">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Growtopia Player Support</title>
  <!-- include bootstrap and custom  css -->
  <link media="all" rel="stylesheet" href="/dashboardgt/assets/css/faq-main.css" />
  <!-- include custom  css -->
  <link media="all" rel="stylesheet" href="/dashboardgt/assets/css/shop-custom.css" />
  <link media="all" rel="stylesheet" href="/dashboardgt/assets/css/ingame-custom.css" />
  <style>
    .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }

    .modal-backdrop+div {
      overflow: auto;
    }

    .modal-body,
    .content {
      padding: 0;
    }

    .d-flex {
      display: flex;
    }

    .flex-col {
      flex-direction: column;
    }
  </style>
</head>

<body style="background-color: rgba(0, 0, 0, 0)">
  <button type="button" class="btn btn-primary hidden" data-toggle="modal" id="modalButton" data-target="#modalShow"
    data-backdrop="static" data-keyboard="false"></button>
  <div class="content">
    <section class="common-box">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="row">
              <div class="modal fade product-list-popup" id="modalShow" tabindex="-1" role="dialog" aria-hidden="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="content">
                        <section class="common-box">
                          <div class="container">
                            <div class="section-title center-align">
                              <h2>Select to continue</h2>
                            </div>

                            <div class="d-flex flex-col"
                              style="max-width: 32rem; justify-content: center; margin: 0 auto; gap: 6px">
                              <form method="POST" action="/player/login/login-legacy" accept-charset="UTF-8" class=""
                                role="form" required="required" autocomplete="off">
                                <input name="_token" type="hidden" value="Cg==" />
                                <input class="btn btn-lg btn-primary grow-button" type="submit"
                                  value="Login with GrowID" />
                              </form>
                              <div style="height: 10px;"></div> <!-- Spacer -->

                              <form method="POST" action="/player/growid/login/validate" accept-charset="UTF-8" class=""
                                role="form" required="required" autocomplete="off">
                                <input name="_token" value="<%= JSON.stringify(data) %>" type="hidden" />
                                <input name="growId" type="hidden" value="" />
                                <input name="password" type="hidden" value="" />
                                <div class="form-group text-center">
                                  <input class="btn btn-lg btn-primary grow-button" type="submit"
                                    value="Register New Account!" />
                                </div>
                              </form>
                            </div>
                          </div>
                        </section>
                      </div>
                      <script type="text/javascript">
                        function nativeAndroidSignIn(token) {
                          NativeApp.nativeSignIn(token);
                        }
                        function nativeiOSSignIn(token) {
                          window.webkit.messageHandlers.nativeSignIn.postMessage(token);
                        }
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
<!-- JQUERY LIBRARY -->
<script src="/dashboardgt/assets/js/jquery-2.1.4.min.js"></script>
<!-- boostrap javascript -->
<script src="/dashboardgt/assets/js/bootstrap.min.js"></script>
<script>
  $("document").ready(function () {
    document.onkeydown = (e) => {
      if (e.key == 123) {
        e.preventDefault();
      }
      if (e.key == "F12") {
        e.preventDefault();
      }
      if (e.ctrlKey && e.shiftKey && e.key == "I") {
        e.preventDefault();
      }
      if (e.ctrlKey && e.key == "I") {
        e.preventDefault();
      }
      if (e.ctrlKey && e.shiftKey && e.key == "C") {
        e.preventDefault();
      }
      if (e.ctrlKey && e.shiftKey && e.key == "J") {
        e.preventDefault();
      }
      if (e.ctrlKey && e.key == "U") {
        e.preventDefault();
      }
    };
    $("#modalButton").trigger("click");
    $(".close").on("click", function () {
      window.close();
    });
    var observer = new MutationObserver(function (mutations) {
      mutations.forEach(function (mutation) {
        for (var i = 0; i < mutation.addedNodes.length; i++) {
          if (mutation.addedNodes[i].tagName == "DIV") {
            var thediv = mutation.addedNodes[i];
            var sw = window.screen.width;
            if (sw < 667) {
              $(thediv).css({
                transform: "scale(0.75)",
                "transform-origin": "0 0",
                "-webkit-transform": "scale(0.75)",
                "-webkit-transform-origin": "0 0",
                overflow: "auto"
              });
            }
          }
        }
      });
    });
    observer.observe(document.body, { attributes: false, childList: true, characterData: false });
  });
</script>

</html>
